<h1>Printer Admin</h1>


<h3>Printer List</h3>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Location</th>
      <th>Model</th>
      <th>Toner</th>
      <th>On Hand</th>
      <th>Need</th>
      <th>Installed On</th>
      <th>IP Address</th>
      <th>Bonjour Name</th>
      <th>WINS Name</th>
    </tr>
    <% @printers.each do |printer| %>

      <tr>
        <td><%= printer[0] %></td>
        <td><%= printer[1] %></td>
        <td><%= printer[2] %></td>
        <td><%= printer[3] %></td>
        <td><%= printer[4] %></td>
        <td><%= printer[5] %></td>
        <td><a href="http://<%= printer[6] %>" target="_blank" ><%= printer[6] %></a></td>
        <td><%= printer[7] %></td>
        <td><%= printer[8] %></td>
      </tr>

      <% end %>
  </table>
